.profile-img-container.blue-bg
	.user-img(style="background-image: url('/images/profile.png')")
	p.user-name.white Aman Agarwal
.flash-card-container.u-flex-grow.full-height
	p.heading-strip.cloud-white.light-grey-bg Flash Cards
	.card-container.hidden
	.step-jumper
		span.cloud-white.cursor-p.step-jumper--previous	Previous
		span.cloud-white.cursor-p.step-jumper--next	Next
	.flashcard-note Note: You can click on flashcard to copy
