body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 0;
	height: 100vh;
}

.full-height{
	height: 100%;
}

/*
	flex box
 */
.flex-box{
	display:flex;
}
/*
	flex row
 */
.flex-row{
	flex-direction:row;
}
/*
	flex column
 */
.flex-column{
	flex-direction:column;
}
/*
	flex grow
*/
.u-flex-grow{
	flex-grow: 1;
}

.left-panel{
	width: 250px;
}
.right-panel{
	flex-basis: 35%;
	overflow-y: auto;
}
.overflow-ellipsis{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.hidden{
	display: none;
}
.cursor-p{
	cursor: pointer;
	user-select: none;
}

.blue{
	color: #3498db;
}
.blue-bg{
	background-color: #3498db;
}
.white{
	color: #fff;
}
.white-bg{
	background-color: #fff;
}
.grey{
	color: #2c3e50;
}
.grey-bg{
	background-color: #2c3e50;
}
.light-grey{
	color: #34495e;
}
.light-grey-bg{
	background-color: #34495e;
}
.cloud-white{
	color: #95a5a6;
}
.cloud-white-bg{
	background-color: #95a5a6;
}
.red{
	color: #e74c3c;
}
.green{
	color: #45b97c;
}

/* Left Component */
.profile-img-container{
	height: 200px;
}
.user-img{
	height: 150px;
	background-position: center;
	background-size: contain; 
	background-repeat: no-repeat;
}
.user-name{
	padding: 10px;
	text-align: center;
}
.flash-card-container .heading-strip{
	margin-bottom: 100px;
}
.heading-strip{
	padding: 15px 5px;
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	margin-top: 0;
}
.card-container{
	position: relative;
	width: 250px;
	height: 220px;
	margin: 10px auto 0; 
	padding: 10px;
	box-sizing: border-box;
}

.card {
	position: absolute;
	top: 0;
	background: #FFFFFF;
	width: 200px;
	height: 180px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transition: 0.4s cubic-bezier(0.28, 0.55, 0.385, 1.65);
	transition: 0.4s cubic-bezier(0.28, 0.55, 0.385, 1.65);
	cursor: pointer;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	color: rgba(0, 0, 0, 0.2);
	text-align: center;
	overflow-y: auto;
}

.card:nth-child(1) {
	z-index: 10;
	top: 0px;
	color: #e74c3c;
	-webkit-transform-origin: top;
	transform-origin: top;
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.card:nth-child(2) {
	z-index: 9;
	top: -15px;
	-webkit-transform-origin: top;
	transform-origin: top;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0.9;
}

.card:nth-child(3) {
	z-index: 8;
	top: -30px;
	-webkit-transform-origin: top;
	transform-origin: top;
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8;
}

.card:nth-child(4) {
	z-index: 7;
	top: -45px;
	-webkit-transform-origin: top;
	transform-origin: top;
	-webkit-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0.7;
}

.card:nth-child(5) {
	z-index: 6;
	top: -60px;
	-webkit-transform-origin: top;
	transform-origin: top;
	-webkit-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6;
}

.card:nth-child(n+6) {
	z-index: 0;
	top: -150px;
	-webkit-transform-origin: top;
	transform-origin: top;
	-webkit-transform: scale(0);
	transform: scale(0);
	opacity: 0;
}

.card:first-child:hover {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}


.step-jumper{
	width: 200px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.step-jumper span{
	width: 50%;
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
}
.step-jumper .step-jumper--next {
	text-align: right;
}
.flashcard-note{
	text-align: center;
	padding: 10px;
	color: #d35400;
}

/* Custom Checkbox*/
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
.question-option.wrong input[type="checkbox"]:not(:checked) + label:after,
.question-option.wrong input[type="checkbox"]:checked + label:after {
  content: '✗';
  position: absolute;
  top: .1em; left: .3em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #e74c3c;
  transition: all .2s;
}
/* checked mark aspect */
.question-option.correct input[type="checkbox"]:not(:checked) + label:after,
.question-option.correct input[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .1em; left: .3em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}

/* Header Panel */
.header-panel{
	padding: 10px 20px;
	height: 60px;
}
.page-title{
	font-size: 24px;
	margin: 10px 0;
}

/*Main area*/
.main-area-panel{
	padding: 20px;
}
.video-container{
	margin: auto;
	background-color: #f1c40f;
	position: relative;
}
.video-container , .video-container img{
	width: 100%;
	height: 400px;
}

/*Right Panel*/
.question-container{
	padding: 0 10px 0 50px;
	position: relative;
}
.question-container.closed{
	height: 50px;
	overflow-y: hidden;
}
.question-data{
	position: relative;
}
.question-title{
	margin: 16px 0;
	width: 350px;
}
.question-container:after{
	content: " ";
	height: 100%;
	width: 2px;
	position: absolute;
	background: #2c3e50;
	top: 0;
	left: 20px;
}
.question-container:first-of-type:after{
	top: 25px;
}
.question-container:last-of-type:after{
	height: 25px;
}
.question-container:only-of-type:after{
	display: none;
}
.question-indicator{
	content: " ";
	width: 20px;
	height: 20px;
	left: -40px;
	top: 15px;
	position: absolute;
	border: 1px solid #2c3e50;
	border-radius: 50%;
	background-color: #95a5a6;
	z-index: 10;
}
.question-indicator.attempted:after{
	content: " ";
	width: 10px;
	height: 10px;
	left: 5px;
	top: 5px;
	position: absolute;
	border-radius: 50%;
	background-color: #27ae60;
	z-index: 9;
}

.question-ques{
	font-size: 18px;
}
.question-option-container{
	margin-bottom: 20px;
}
.question-option-container:last-of-type{
	margin-bottom: 0;
}
.question-desc, .question-desc span:not(:last-child){
	margin-top: 10px;
}
